/*
* Body & HTML Style
*/

body,
html {
    margin: 0;
    bottom: 0;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
    height: 100%;
    color: black;
    width: 100%;
}

.bg-image {
    /* The image used */
    background-image: url("../img/background.png");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-div {
    color: black;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

#bg-div[data-light-mode="dark"] {
    color: #eaeaea;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.center {
    margin: auto;
    text-align: center;
}

.btn {
    background: #3485d9;
    background-image: -webkit-linear-gradient(top, #3485d9, #276fba);
    background-image: -moz-linear-gradient(top, #3485d9, #276fba);
    background-image: -ms-linear-gradient(top, #3485d9, #276fba);
    background-image: -o-linear-gradient(top, #3485d9, #276fba);
    background-image: linear-gradient(top, #3485d9, #276fba);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

/*
* Titles
*/

#bg-div[data-light-mode="dark"] h3 a {
    color: #eaeaea;
    margin-left: 0;
    margin-right: 0;
}

h3 a {
    color: #000;
    margin-left: 0;
    margin-right: 0;
}

/*
* Social & Footer
*/

#bg-div[data-light-mode="dark"] .social-logo {
    filter: invert(100%);
}

.social {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
}

.footer {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: contents;
}

/*
* Dark/Light Style button
*/

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5rem;
    height: 2rem;
    background: grey;
    display: block;
    border-radius: 2rem;
    position: relative;
    float: right;
    top: 1rem;
    left: 1rem;
    position: absolute;
}

label:after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 3px;
    width: 1.8rem;
    height: 1.8rem;
    background: #eaeaea;
    border-radius: 1.8rem;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label:active:after {
    width: 6px;
}

/*
* Responsive
*/

.logo{
    border-radius: 50%;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
    .logo {
        width: 10rem;
    }

    h1 {
        font-size: 3.0rem;
        font-weight: 400;
    }

    h2 {
        margin: 0;
        margin-top: -1rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    h3 {
        font-size: 1rem;
        font-weight: 400;
        font-weight: 400;
    }

    h4 {
        margin-bottom: 0.2rem;
        margin-left: 0.2rem;
        font-weight: 400;
    }

    a {
        overflow: hidden;
        color: transparent;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .social-logo {
        height: 3rem;
        width: 3rem;
    }
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
    .logo {
        width: 7rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    h2 {
        margin-top: -1rem;
        font-size: 1rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    h4 {
        display: none;
    }

    .social-logo {
        height: 2.5rem;
        width: 2.5rem;
    }

    a {
        overflow: hidden;
        color: transparent;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
    .logo {
        width: 12rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 400;
    }

    h2 {
        margin-top: -1rem;
        font-size: 1rem;
        font-weight: 700;
    }

    h3 {
        margin-top: -0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
    }

    h4 {
        display: none;
    }

    .social-logo {
        height: 1rem;
        width: 1rem;
    }

    a {
        overflow: hidden;
        color: transparent;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
